body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
  margin-bottom: 12px
}

.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('img/fixedImg2.jpg');
  min-height: 100%;
}

/* Stile per il contenitore del video e descrizione */
.media-container {
  background-color: #fff;
  /* Sfondo bianco per risalto */
  padding: 16px;
  /* Spaziatura interna per separare il video dal bordo */
  border-radius: 8px;
  /* Bordo arrotondato */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Ombra elegante */
  margin-bottom: 24px;
  /* Spazio tra i video */
  transition: box-shadow 0.3s ease;
  /* Transizione per l'ombreggiatura */
}

.media-container:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  /* Ombra più intensa */
  transform: translateY(-4px);
  /* Leggero spostamento verso l'alto */
}


/* Stile per la descrizione del video */
.video-description {
  margin-top: 8px;
  font-size: 1em;
  color: #555;
  /* Colore del testo */
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  text-align: center;
}

/* Opzionale: Aggiungi uno stile per le descrizioni al passaggio del mouse */
.video-description:hover {
  color: #000;
  transition: color 0.3s ease;
}


/* Contenitore per ciascuna immagine con overlay */
.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* Nasconde elementi che escono dai bordi */
  margin-bottom: 16px;
  padding: 0;
}

/* Stile dell'immagine */
.image-container img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

/* Stile per la tendina del titolo */
.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(108, 105, 105, 0.6);
  /* Sfondo semi-trasparente */
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1em;
  transform: translateY(100%);
  /* Parte da sotto l'immagine */
  transition: transform 0.3s ease;
  /* Transizione di scorrimento */
}

/* Effetto hover per far salire la tendina */
.image-container:hover .caption {
  transform: translateY(0);
  /* Scorre verso l'alto mostrando il titolo */
}

/* CSS per lo sfondo opaco e il video in sovrimpressione */
#videoModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  /* Sfondo semi-trasparente */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#videoModal video {
  width: 80%;
  max-width: 700px;
  border: 2px solid #fff;
  border-radius: 8px;
}

/* Pulsante per chiudere il video */
#videoModal .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

/* Blocca lo scorrimento della pagina quando il video è attivo */
body.modal-open {
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0px auto;
  text-align: left;
}

/* Stile delle barre di avanzamento */
.progress-container {
  margin: 20px 0;
  background-color: #f1f1f1;
  /*border-radius: 3px;*/
  overflow: hidden;
}

.progress-bar {
  height: 30px;
  background-color: #616161;
  width: 0;
  /* La larghezza iniziale è 0 per l'animazione */
  text-align: center;
  color: white;
  line-height: 30px;
  /*border-radius: 3px;*/
  transition: width 3s ease;
}

/* Stile base per il bottone */
.custom-button {
  display: inline-block; /* Per comportarsi come un bottone */
  position: absolute; /* Per posizionarlo in alto a destra */
  top: 0; /* Allineato al bordo superiore */
  right: 0; /* Allineato al bordo destro */
  padding: 10px 15px; /* Spaziatura interna */
  font-size: 24px; /* Dimensione del testo per .w3-xxlarge */
  color: grey; /* Colore del testo (w3-text-grey) */
  background-color: white; /* Sfondo bianco (w3-white) */
  border: none; /* Rimuove il bordo */
  cursor: pointer; /* Mostra il cursore puntatore */
  z-index: 1; /* Assicura che sia sopra altri elementi */
  transition: color 0.3s ease; /* Transizione per il colore del testo */
  width: auto; /* Adatta la larghezza */
}

/* Stile hover per il bottone */
.custom-button:hover {
  color: black; /* Cambia il colore del testo al passaggio del mouse */
}

@media screen and (max-width: 500px) {
  .w3-sidebar {
    display: none !important; /* Nasconde la sidebar */
  }
  .custom-button {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    display: flex;
    justify-content: space-around;
    position: sticky; /* Rimane bloccato in alto durante lo scroll */
    top: 0;
    z-index: 10;
    padding: 0;
  }

  .mobile-menu .w3-bar-item {
    flex: 1; /* Distribuisci equamente lo spazio tra i link */
    text-align: center;
    padding: 12px 0;
    font-size: 15px;
    transition: box-shadow 0.2s ease-in-out;
  }

  .mobile-menu .w3-bar-item i {
    display: block; /* Mostra le icone su una riga separata */
    font-size: 15px;
  }

  .mobile-menu .w3-bar-item:active {
    box-shadow: none;
  }

  .mobile-menu .w3-bar-item:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05); /* Aggiunge un leggero sfondo */
  }

}

#home {
  padding: 128px 16px;
  text-align: center;
  position: relative; /* Necessario per il layering */
}


/* Immagine di sfondo solo per dispositivi mobili */
@media screen and (max-width: 650px) {
  #home {
    background-image: url('/img/vio17_trasp.png'); /* Percorso dell'immagine */
    background-size: cover; /* L'immagine riempie l'area */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat;
    border: 5px solid #f1f1f1;
    padding: 100px 16px; /* Riduci il padding su mobile */
    color: white; /* Rendi il testo bianco per il contrasto */
    box-sizing: border-box; /* Assicura che la cornice non influisca sulle dimensioni */

  }

  /* Logo */
  #home .logo {
    width: 70%; /* Ridimensiona il logo su dispositivi mobili */
    display: block;
    margin: 0 auto;
  }

  /* Pulsanti */
  #home .w3-button {
    background-color: rgba(255, 255, 255, 0.8); /* Sfondo semitrasparente */
    color: black; /* Testo nero per contrasto */
  }

  #home .w3-button:hover {
    background-color: rgba(255, 255, 255, 1); /* Sfondo più visibile al passaggio del mouse */
  }
}
